hr
p.text-right &copy; Simplict&eacute; Software, powered by&nbsp;
  a(href='https://expressjs.com', target='_blank') Express
script(type='text/javascript', src='/bootstrap/js/popper.min.js')
script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
