doctype html
html(lang='en')
  head
    include head
    script(type='text/javascript').
      $(document).ready(function() {
          var ps = !{products};
          var pc = $('#products');
          var r = undefined;
          for (var i = 0; i < ps.length; i++) {
              var p = ps[i];
              if (i % 4 === 0) {
                  if (r !== undefined) pc.append(r);
                  r = row();
              }
              var pt = p.demoPrdSupId__demoSupName + ' / ' + p.demoPrdName;
              var pi = $('<img/>', { style: 'height: 200px;', title: p.demoPrdReference, src: 'data:' + p.demoPrdPicture.mime + ';base64,' + p.demoPrdPicture.content }).popover({ content: p.demoPrdDescription });
              var pp = $('<strong/>', { style: 'margin-right: 25px;' }).append(parseFloat(p.demoPrdUnitPrice).toFixed(2) + ' &euro;');
              r.append(panel($('<div/>').append(pi).append('<hr/>').append($('<p/>', { style: 'text-align: right;' }).append(pp)), pt, 'default', 3));
          }
          if (r !== undefined) pc.append(r);
      });
  body
    div.container
      include header
      div.row
        #products.col-md-12
      include footer
