doctype html
html(lang='en')
  head
    include head
    script(type='text/javascript').
      $(document).ready(function() {
          var grant = !{grant};
          $('#nodejs-demo-user')
            .append($('<img/>', { src: 'data:' + grant.picture.mime + ';base64,' + grant.picture.content }))
            .append($('<h4/>').text(grant.firstname + ' ' + grant.lastname)).append($('<p/>').text(grant.email));
      });
  body
    #nodejs-demo
      include header
      ul
        li#nodejs-demo-user
      include footer