doctype html
html(lang="en")
  head
    include head
    script(type="text/javascript").
      $(document).ready(function() {
          var grant = !{grant};
          $("#user-picture").append($("<img/>", { src: "data:" + grant.picture.mime + ";base64," + grant.picture.content }));
          $("#user-info").append($("<h3/>").text(grant.firstname + " " + grant.lastname)).append($("<p/>").text(grant.email));
      });
  body
    div.container(style="margin-top: 25px")
      div.well
        div(style="text-align: center;")
          img(src="logo.png", alt="Simplicit&eacute; Software", style="width: 100%; max-width: 500px;")
      div.row
        #user-picture.col-md-2
        #user-info.col-md-10
      include foot